/src/ENSE483Group3Fall2017/MessageProcessingWebJob/obj
/src/ENSE483Group3Fall2017/MessageProcessingWebJob/bin
/src/ENSE483Group3Fall2017/MessageProcessingWebJob/*.user
/src/ENSE483Group3Fall2017/packages
/src/ENSE483Group3Fall2017/.vs
